:root {
  --left-bg-color: rgba(87, 84, 236, 0.7);
  --right-bg-color: rgba(43, 43, 43, 0.733);
  --left-btn-hover-color: rgba(87, 84, 236, 1);
  --right-btn-hover-color: rgba(28, 122, 28, 1);
  --hover-flex: 75%;
  --other-flex: 25%;
  --speed: 1000ms;
}
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  height: 100vh;
  overflow: hidden;
}
h1 {
  color: white;
  font-weight: bold;
  font-size: 34px;
  top: 30%;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
}
.btn {
  position: absolute;
  top: 40%;
  left: 50%;
  width: 15rem;
  transform: translateX(-50%);
  text-decoration: none;
  border: 3px solid white;
  color: white;
  text-transform: uppercase;
  font-weight: 700;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  padding: 15px;
  text-align: center;
}
.left .btn:hover {
  background-color: var(--left-btn-hover-color);
  border-color: var(--left-btn-hover-color);
}
.right .btn:hover {
  background-color: var(--right-btn-hover-color);
  border-color: var(--right-btn-hover-color);
}
.container {
  display: flex;
  height: 100%;
  background-color: #333;
  width: 100%;
  position: relative;
}
.container div {
  flex-basis: 50%;
  position: relative;
  white-space: nowrap;
}
.split {
  position: absolute;
  width: 50%;
  height: 100%;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;
}
.left {
  background-image: url(ps.jpg);
}
.left::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: var(--left-bg-color);
}

.right {
  background-image: url(xbox.jpg);
}
.right::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: var(--right-bg-color);
}

.split.right,
.split.left,
.split.right::before,
.split.left::before {
  transition: all var(--speed) ease-in-out;
}

.hover-left .left {
  flex: var(--hover-flex);
}
.hover-left .right {
  flex: var(--other-flex);
}

.hover-right .right {
  flex: var(--hover-flex);
}
.hover-right .left {
  flex: var(--other-flex);
}

@media (max-width: 800px) {
  h1 {
    font-size: 2rem;
    top: 30%;
  }

  .btn {
    padding: 1.2rem;
    width: 12rem;
  }
}
